.q-tooltip {
    font-size: 15px;
}
.q-drawer__content::-webkit-scrollbar {
    display: none;
}
.q-field.q-field--outlined {
    font-family: 'Times New Roman';
    --q-primary: white;
    --q-field-border-color: white;
    --q-field-label-color: white;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.q-field.q-field--outlined.q-field--focused {
    --q-primary: white;
    --q-field-border-color: white;
    --q-field-label-color: white;
}
.q-field.q-field--outlined.q-field--highlighted {
    --q-primary: white;
    --q-field-border-color: white;
    --q-field-label-color: white;
}
:root {
    --q-primary: white !important;
}
.scrollbar-custom::-webkit-scrollbar {
    width: 0px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
.q-field input {
    font-family: 'Times New Roman';
    font-size: 18px;
}
.ag-theme-alpine-dark .ag-cell {
    font-size: 14px !important;
    font-family: 'Times New Roman' !important;
    text-align: center !important;
    align-items: center;
    justify-content: center;
}
.ag-theme-alpine-dark .ag-header-cell-label {
    font-size: 16px;
    justify-content: center !important;
    font-family: 'Times New Roman' !important;
}